files/campaign-funded/*
!files/campaign-funded/index.php
files/certificate-roi-payment/*
!files/certificate-roi-payment/index.php
files/certificate-roi-yearly-user/*
!files/certificate-roi-yearly-user/index.php
files/fiscal-documents/*
files/investment-check/*
!files/investment-check/index.php
files/tax-exemption/*
includes/accounts/*
includes/contracts/*
!includes/contracts/index.php
includes/control/cache/files/*
!includes/control/cache/files/index.php
includes/kyc/*
!includes/kyc/index.php
includes/logs/*
includes/pdf_files/*
dploy.yaml